<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}NajahHost{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
        <style>
            body {
                background: url({{ asset('crossword.png') }});
            }
        </style>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    {% block navbar %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage') }}">Naja7Host</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ><a href="{{ path('homepage') }}">Accueil </a></li>
                        <li><a href="#">Gallery</a></li>                    
                        <li><a href="#">A propos</a></li>                   
                    </ul>
                    {% if app.user is not empty %}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ path('profile', {'username': app.user.username}) }}"><i class="fa fa-user"></i> {{ app.user.username }}</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> Deconnexion</a></li>
                        </ul>
                        {% else %}
                             <form class="navbar-form navbar-right"  action="{{ path('fos_user_security_check') }}" method="POST">
                            <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}" />
                            <div class="form-group">
                                <input type="text" class="form-control" name="_username" placeholder="Nom d'utilisateur">
                            </div>
                            <div class="form-group">
                                <input type="password" name="_password" class="form-control" placeholder="Mot de passe">
                            </div>
                            <button type="submit" class="btn btn-default">Connexion</button>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
    {% endblock %}
    
    {% block sessionMessages %}
        
        <div class="container">
        {% for type, alerts in app.session.flashbag.all() %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-{{ type }}">
                        {% for msg in alerts %}
                            <p>
                                {{ msg }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
        
    {% endblock %}
    
    {% block body %}

    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('js/jquery-1.11.3.min.js') }}" >
        </script>
        <script src="{{ asset('js/bootstrap.min.js') }}" >
        </script>        
    {% endblock %}
</body>
</html>
